@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #202020;
    height: 100vh;
    overflow-x: hidden;
    transition: all 0.5s;
    scroll-snap-type: mandatory;
    overflow-y: scroll;
}
:root{
    --color-primary: #ffffff;
    --color-secondary: #acacac;
    --color-black: #3d3d3d;
    --color-hover-primary:#3d3d3d;
    --color-green:#b52d24;
    --color-red:#b52d24;

}
*::selection {
    background: var(--color-green);
    color: var(--color-black);
  }

a{
    color:var(--color-primary);
    text-decoration: none;
}

/* <===========NAV BAR==========> */


.nav_bar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.6rem;
    margin: 0 30px;
    user-select: none;
    position: fixed;
    width: 90vw;
    z-index: 999;
}
.nav_menu{
    display: flex;
    list-style: none;
    
}
.nav_list{
    padding: 0 3rem;
}
.logo{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 2rem;
}
.nav_list a:hover{
    color: var(--color-green);
}

/* <===========TITLE==========> */

.bold-title{
    font-family: 'Black Han Sans', sans-serif;
    transform: rotate(-90deg);
    margin-top: 5%;
    font-size: 12rem;
    color: var(--color-black);
    opacity: 0.2;
    z-index: -100;
    user-select: none;
}
.bold-title-child:nth-last-of-type(){
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
}





/* <===========Hero==========> */

.content{
    height: 100vh;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 550px;
    margin-bottom: 4%;
}

.side-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7%;
    height: 300px;
    border-right: 3px solid var(--color-black);
    padding: 0;
    position: fixed;
    top: 30%;
    left: 0;
}

.social-links-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social-links .icon{
    width: 40px;
    fill: var(--color-black);
    cursor: pointer;
    margin: 10px;
}
.social-links-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon:hover{
    box-shadow: 0px 0px 5px 2px var(--color-green);
    border-radius: 100%;
    transform: scale(1.1);
    transition: 0.2s;

}


.home-content{
    scroll-snap-align: start;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
    padding: 0 30px;
}
.title {
    font-family: 'Black Han Sans', sans-serif;
    margin-bottom: 7px;
    font-size: 7rem;
    font-weight: 900;
    color: var(--color-primary);
    margin-right: 100px;
}
.title span{
    display: block;
    color: var(--color-black);
}


.profile{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    width: 90ch;
   
}
.profile .hello{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-secondary);

}
.profile .name{
    font-family: sans-serif;
    margin: 20px 0;
    font-size: 3rem;
    color: var(--color-primary); 
    letter-spacing: 0.5em;
    padding: 0;
}
.profile .hero-info{
    max-width: 600px;
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: justify;
    color: var(--color-secondary);
    margin-bottom: 25px;
}





/* <===========BUTTON==========> */


.btn{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1.7rem 4rem;
    margin: 2rem;
    text-align: center;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    white-space: nowrap;
}
.btn--primary{
    background-color: var(--color-green);
    color: var(--color-black);
}
.btn--primary:hover {
    box-shadow: 0px 0px 10px 2px var(--color-green);
    color: var(--color-primary);
}
.btn--outline {
    background-color: transparent;
    color: var(--color-primary);
    padding: 1.4rem 4rem;
    border: 3px solid var(--color-green);
}
.btn--outline:hover {
    box-shadow: 0px 0px 10px 2px var(--color-green);
    color: var(--color-black);
}
.btn--block{
    width: 100%;
    display: inline-block;
}
.btn--circle{
    width: 80px;
    height: 80px;
}
.btn--circular{
    border-radius: 100%;
    color: var(--color-black);
    border: 5px solid transparent;
    box-shadow: 0px 0px 0px 4px var(--color-red);
    background-color: transparent;
    margin: 12px 0;
    cursor: pointer;
}
.btn--circular:hover{
    transform: scale(1.05);
    transition: 0.2s;
    box-shadow: 0px 0px 5px 5px var(--color-green);
}
/* <===========SKILL'S ICONS==========> */


.skill-icons{
    height: 160px;
    width: 100vw;
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5%;
    opacity: 0.5;
}
.sprite{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.sprite img{ 
   padding: 0 10px;
   height: 150px;
   cursor: pointer;
   z-index: 1;
}
.sprite img:hover{ 
    transform: scale(1.05);
    transition: 0.2s ;    
}
.shadow{
    content: "";
    width: 130px;
    height: 2px;
    background-color: transparent;
    position: relative;
    top: -5px;
    transition: 0.2s;
}
.sprite img:hover + .red{
    box-shadow: 0px 10px 20px 10px var(--color-green);
}

/* .sprite img:hover + .html{
    box-shadow: 0px 10px 20px 10px #ff5e00;
}
.sprite img:hover + .css{
    box-shadow: 0px 10px 20px 10px #0167c7;
}
.sprite img:hover + .javascript{
    box-shadow: 0px 10px 20px 10px #ffd000;
}
.sprite img:hover + .react{
    box-shadow: 0px 10px 20px 10px #00eeff;
}
.sprite img:hover + .mysql{
    box-shadow: 0px 10px 20px 10px #4b7092;
}
.sprite img:hover + .python{
    
    box-shadow: 0px 10px 20px 10px #d4ca01;
} */



footer{
    position: relative;
    bottom: 0;
    height: 100px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: var(--color-primary);
    background-color: #3d3d3d38;
    padding: 10px;

}



.about-container{
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 550px;
    margin-bottom: 4%;
}



/* <===========ABOUT ME==========> */

.about-content{
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    width: 100vw;
    margin-top: 10%;
}
/* .myImg img{
    width: 300px;
    position: relative;
    top: 70px;
    left: -100px;
} */
.about-me{
    margin-right: 15%;
    margin-top: 12%;
    background-color: #3d3d3d5b;
    height: 100%;
    padding: 240px 40px;
}
.about-me-bg{
    background-color: #3d3d3d5b;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.about-me .head-title{
    display: none;
}
.about-me p{
    width: 50ch;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: justify;
    color: var(--color-secondary);
}
.skills{
    width: 200px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
}
.head-title{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 5rem;
    color: var(--color-black);
    transform: rotate(-90deg);
    margin: 0;
}
.skill-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 50px 20px;
}

.project {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project img{
    width: 500px;
    border-radius: 20px;
    object-fit: contain;
}
.project-container .head-title{
    display: none;
}
.contact-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: relative;
    top: 10%;
}

.info{
    display: flex;
    flex-direction: column;
    background: var(--color-black);
    color: var(--color-primary);
    width: 300px;
    height: 400px;
    justify-content: center;
    font-size: 1.6rem;
    margin: 10px 40px;
    padding: 10px 40px;
}

.project-view{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    display: none;
}
.project-view img{
    width: 40px;
    margin-left: 30px;
}
.project-view h1{
    font-size: 25px;
    color: var(--color-red);
}
.project img:hover{
    opacity: 0.5;
}
.project img:hover + .project-view{
    display: flex;
    z-index: 1000;
    
}


/* <===========FOrm==========> */


/* .contact-container{
    margin-top: 300px;
} */
.contactPage{
    max-width: 400px;
    width: 90%;
}
.contactPage h1{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 5rem;
    margin: 0;
    color: var(--color-black);
}
.contactPage p{
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: 10px;
    color: var(--color-secondary);
}
form{
    display: flex;
    flex-direction: column;
}
label{
    display: block;
    font-size: 1.8rem;
    color: var(--color-primary);
    padding: 20px 0;
}
input, textarea{
    width: 100%;
    padding: 10px;
    outline: none;
    resize: none;
    border: none;
}
input:focus, textarea:focus{
    border-bottom: 3px solid var(--color-primary);
}
.submit_btn{
    margin-top: 20px;
}

@media (max-width: 480px) {
    /* Styles for mobile devices */
    .main-container{
        position: relative;
    
        height: 100vh;
        margin: 0;
      }
      .home-content{
        position: relative;
        left: 50%;
        transform: translate(-50%,0);
        flex-direction: column;
        margin: 0;
        
    }
    .title{
        font-size: 5rem;
    }
    .profile{
        width: 60ch;
        display: block;
        text-align: left;
    }
    .profile .name{
        font-size: 2rem;
        margin: 0;
        margin-bottom: 20%;
    }
    .profile .hero-info{
        display: none;
    }
    .bold-title{
        display: none;
    }
    
    .skill-icons{
        margin-top: -30%;
        height: 80px;
    }
    .sprite{
        display: block;
        margin: 0 4px;
    }
    .sprite img{
        height: 70px;
        padding: 0;
    }
    
    .about-content{
        flex-direction: column;
    }
    .about-me{
        margin-right: 0;
        margin-top: 50%;
        text-align: center;
        background-color: transparent;
        height: 100%;
        padding: 0;
    }
    .about-me .head-title{
        display: block;
        margin: 10px;
    }
    .about-me p{
        width: 40ch;
    }
    .skills{
        top: -70px;
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .skill-img{
        flex-direction: row;
        flex-wrap: wrap;
        width: 300px;
    }
    .skill-img img{
        margin: 10px;
        width: 80px;
        height: 80px;
    }
    .head-title{
        transform: rotate(0deg);
        font-size: 2rem;
    }
    .btn--circle{
        width: 50px;
        height: 50px;
    }
    .project img{
        width: 400px;
    }
    .project-grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
    #projects{
        margin-top: 200px;
    }
    .project-container .head-title{
        text-align: center;
        display: block;
        margin: 10px;
    }
    .content{
        margin-top: 50px;
        height: max-content;
    }
    .contact-container{
        margin-top: 150px;
    }
    .side-bar{
        display: none;
    }
    }
@media (min-width: 481px) and (max-width: 768px) {
  /* Styles for tablets */
  .main-container{
    position: relative;

    height: 100vh;
    margin: 0;
  }
  .home-content{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    flex-direction: column;
    margin: 0;
    
}
.title{
    font-size: 5rem;
}
.profile{
    width: 60ch;
    display: block;
    text-align: left;
}
.profile .name{
    font-size: 2rem;
    margin: 0;
    margin-bottom: 20%;
}
.profile .hero-info{
    display: none;
}
.bold-title{
    display: none;
}

.skill-icons{
    margin-top: -30%;
    height: 80px;
}
.sprite{
    display: block;
    margin: 0 4px;
}
.sprite img{
    height: 70px;
    padding: 0;
}

.about-content{
    flex-direction: column;
}
.about-me{
    margin-right: 0;
    margin-top: 50%;
    text-align: center;
    background-color: transparent;
    height: 100%;
    padding: 0;
}
.about-me .head-title{
    display: block;
    margin: 10px;
}
.about-me p{
    width: 40ch;
}
.skills{
    top: -70px;
    display: flex;
    flex-direction: column;
    width: 70%;
}
.skill-img{
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
}
.skill-img img{
    margin: 10px;
    width: 80px;
    height: 80px;
}
.head-title{
    transform: rotate(0deg);
    font-size: 2rem;
}
.btn--circle{
    width: 50px;
    height: 50px;
}
.project img{
    width: 400px;
}
.project-grid{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
}
#projects{
    margin-top: 200px;
}
.project-container .head-title{
    text-align: center;
    display: block;
    margin: 10px;
}
.content{
    margin-top: 50px;
    height: max-content;
}
.contact-container{
    margin-top: 150px;
}
.side-bar{
    display: none;
}
}
@media (min-width: 769px) {
    /* Styles for desktops and laptops */

  }

@media (min-width: 1201px) {
/* Styles for large screens */
}
    